body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* 背景色の変更 */
    color: #333; /* テキストカラー */
}

#game-container {
    margin-top: 50px;
    background-color: #fff; /* コンテナの背景色 */
    padding: 20px;
    border-radius: 10px; /* 角の丸み */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影の追加 */
}

#cookie {
    width: 200px;
    cursor: pointer;
    transition: transform 0.1s ease; /* クリック時のアニメーション効果 */
}

#cookie:active {
    transform: scale(0.98); /* クリック時に少し縮む効果 */
}

#upgrades {
    margin-top: 20px;
}

button {
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* ボタンのテキストカラー */
    padding: 15px 32px;
    font-size: 16px;
    border: none; /* 枠線を消す */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer;
    transition: background-color 0.3s ease; /* ホバー時の背景色変更の滑らかさ */
}

button:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

@media (max-width: 768px) { /* スマートフォンなどの小さい画面向けのスタイル */
    #cookie {
        width: 100%; /* 画像を横幅いっぱいに表示 */
        max-width: 200px; /* 最大でも200px */
        height: auto; /* 高さを自動調整してアスペクト比を保持 */
    }
    
    #game-container {
        padding: 10px; /* コンテナのパディングを調整 */
    }

    button {
        width: 100%; /* ボタンを横幅いっぱいに表示 */
        padding: 15px; /* ボタンのパディングを調整 */
        font-size: 18px; /* ボタンのフォントサイズを大きくする */
        margin-top: 10px; /* ボタンの上のマージンを追加 */
    }

    p {
        margin: 20px 0; /* 段落のマージンを調整 */
    }
}

p {
    font-size: 20px; /* テキストサイズ */
}

