body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

#main-visual img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; /* コンテンツの幅を適切に制限 */
}

h2 {
    color: #333;
}

ul, p {
    margin-bottom: 20px;
}

.play-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px; /* ボタンのフォントサイズを大きくして目立たせる */
}

